/* Importing Required Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lobster&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* root variables for later use case */
:root {
    --body-bg: #FFFFFF;
    --bg-color: #FFF4E7;
    --border-color: #FFD5A4;
    --primary-color: #FF900E;
    --primary-text-color: #131313;
    --secondary-text-color: #B0B0B0;
    --final-text-color: #424242;
}

/* reseting all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* class for disabling an html element for working */
.dn {
    display: none;
}

/* utility styles */
body {
    min-height: 100vh;
    font-family: 'Work Sans', sans-serif;
}





/* common styles among the elements needed to share */
body img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

body ul li {
    list-style-type: none;
}

body ul li a {
    text-decoration: none;
}

.header-container, .footer-container {
    background-color: var(--bg-color);
}

.quick-list-heading, .valuable-features-heading, .feature-heading, .some-facts-heading h2, .our-sponsors-heading h2 {
    color: var(--primary-text-color);
    font-size: 45px;
}

.quick-list-info, .valuable-features-info, .feature-info, .some-facts-info, .our-sponsors-info, .footer-info {
    color: var(--secondary-text-color);
}






/* styles for header section */
/* nav section styles */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 240px 50px;
}

.navigation-list-container {
    width: 477px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list-container .list-item a {
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner section styles */
.header-container .banner-section-container{
    width: 75%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 45px;
}

.banner-section-article {
    width: 60%;
    margin: auto;
    text-align: center;
}

.banner-section-heading {
    font-size: 64px;
    margin-bottom: 20px;
}

.banner-section-heading span {
    display: block;
}

.banner-section-info {
    line-height: 26px;
    margin-bottom: 53px;
}

.basic-btn {
    padding: 15px 20px;
    background-color: var(--primary-color);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.basic-btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.banner-section-img {
    margin-top: 50px;
}





/* Styles for main section */
.main-container {
    width: 75%;
    margin: auto;
}

/* quick list features section */
.quick-list-features-container {
    padding-left: 50px;
    margin: 85px 0 130px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 53px;
}

.quick-list-features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-list-heading {
    margin-bottom: 20px;
}

.quick-list-heading span{
    color: var(--secondary-text-color);
    font-weight: 500;
}

.quick-list-heading span:last-child {
    display: block;
    color: var(--primary-color);
    font-weight: 700;
}

.quick-list-info {
    width: 77%;
    line-height: 26px;
    margin-bottom: 32px;
}

.quick-list-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}



/* styles for features you may enjoy section */
.valuable-features-container {
    position: relative;
    display: flex;
    gap: 105px;
    margin-bottom: 100px;
}

.valuable-features-list {
    padding-top: 35px;
}

.valuable-features-heading {
    padding-left: 15px;
    border-left: 5px solid var(--primary-color);
    margin-bottom: 24px;
}

.valuable-features-heading span {
    display: block;
}

.valuable-features-info {
    margin-bottom: 30px;
}

.about-this-feature {
    padding: 30px 42px 30px 30px;
    box-shadow: 0 0 10px rgb(235, 235, 235);
    margin-bottom: 20px;
}

.feature-heading {
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-size: 20px;
}

.feature-info {
    line-height: 23px;
}

.valuable-features-btn {
    position: absolute;
    bottom: -60px;
    right: 458px;
    padding: 42px 45px;
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: var(--body-bg);
    background-color: #FF900E;
}

.valuable-features-btn span {
    display: block;
    font-size: 20px;
    font-weight: 400;
}

/* styles for some facts section */
.some-facts-container {
    margin-top: 150px;
}

.some-facts-heading {
    width: 39%;
    margin-bottom: 100px;
}

.some-facts-heading h2 {
    margin-bottom: 24px;
}

.some-facts-info {
    line-height: 26px;
}

.some-facts-about {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 150px;
}

.some-facts-option {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    padding: 90px 69px 87px;
}

.some-facts-option img {
    margin-bottom: 10px;
}

.some-facts-option .briefing {
    font-size: 20px;
}

.some-facts-amount {
    font-size: 45px;
    color: var(--final-text-color);
    margin-bottom: 5px;
}

/* styles for our sponsors section container */
.our-sponsors-section-container {
    text-align: center;
}

.our-sponsors-heading h2{
    margin-bottom: 24px;
}

.our-sponsors-info {
    width: 40%;
    line-height: 26px;
    margin: auto;
    margin-bottom: 50px;
}

.our-sponsors-logo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-self: center;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    margin-bottom: 100px;
}

.our-sponsors-logo-container img {
    filter: grayscale(100%);
}

/* responsive design for mobile devices */
/* extra small devices */
@media only screen and (max-width: 373px) {
    /* banner section styles */
    .header-container .banner-section-container {
        width: 85%;
    }

    
    /* quick list features styles */
    .quick-list-heading span:last-child {
        display: inline-block;
    }
    
}

@media only screen and (max-width: 535px) {
    /* features you may enjoy section styles */
    .valuable-features-heading {
        font-size: 32px;
    }
    .valuable-features-heading span {
        display: inline-block;
    }
    .about-this-feature {
        padding: 20px;
    }
    .valuable-features-btn {
        font-size: 25px;
    }

    /* some facts section styles */
    .some-facts-option {
        padding: 70px 49px 77px;
    }
}

/* small devices */
@media only screen and (max-width: 576px) {
    /* navigation bar styles */
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        text-align: center;
    }
    .navbar-heading {
        margin-bottom: 33px;
    }
    .navigation-list-container {
        width: 100%;
        display: block;
    }
    .navigation-list-container .list-item {
        margin-bottom: 10px;
    }


    /* banner section styles */
    .header-container .banner-section-container {
        padding-top: 0;
        width: 80%;
    }
    .banner-section-article {
        width: 100%;
    }
    .banner-section-heading {
        font-size: XX-large;
    }
    .banner-section-info {
        margin-bottom: 27px;
    }


    /* quick list features styles */
    .quick-list-img {
        grid-template-columns: 1fr;
    }
    .quick-list-heading {
        font-size: 35px;
    }
    .quick-list-info {
        width: 100%;
    }


    /* features you may enjoy section styles */
    .valuable-features-container {
        flex-direction: column;
    }
    .valuable-features-img {
        margin-top: -45px;
    }
    .valuable-features-btn {
        position: relative;
        left: 0;
        bottom: 30px;
    }


    /* some facts section styles */
    .some-facts-heading {
        width: 100%;
        margin-bottom: 50px;
    }
    .some-facts-about {
        flex-direction: column;
    }

    /* our sponsors container styles */
    .our-sponsors-heading h2{
        font-size: 35px;
    }
    .our-sponsors-info {
        width: 90%;
    }
    .our-sponsors-logo-container {
        width: 30%;
        margin: auto;
        grid-template-columns: 1fr;
        margin-bottom: 100px;
    }

    .our-sponsors-logo-container img {
        width: 100%;
    }
}

/* responsive design for tablet devices */
@media only screen and (min-width: 577px) and (max-width: 744px) {

    /* styles for navigation bar */
    .navbar {
        padding-left: 3px;
        padding-right: 3px;
    }


    /* features you may enjoy section styles */
    .valuable-features-container {
        flex-direction: column;
    }

    .valuable-features-img {
        margin-top: -30px;
    }

    .valuable-features-btn {
        position: relative;
        left: 0;
        bottom: 0;
    }
}

@media only screen and (min-width: 577px) and (max-width: 932px) {
    /* styles for navigation bar */
    .navbar {
        padding-left: 33px;
        padding-right: 33px;
    }


    /* banner section styles */
    .banner-section-article {
        width: 100%;
    }
    .banner-section-heading {
        font-size: XX-large;
    }


    /* features you may enjoy section styles */
    .valuable-features-container {
        flex-direction: column;
    }
    .valuable-features-img {
        margin-top: -30px;
    }
    .valuable-features-btn {
        position: relative;
        left: 0;
        bottom: 0;
    }


    /* some facts section styles */
    .some-facts-heading {
        width: 100%;
    }
    .some-facts-about {
        flex-direction: column;
    }


    /* our sponsors logo container styles  */
    .our-sponsors-logo-container img {
        width: 100%;
    }
}

@media only screen and (min-width: 933px) and (max-width: 1555px) {
    /* styles for navigation bar */
    .navbar {
        padding-left: 55px;
        padding-right: 55px;
    }


    /* banner section styles */
    .banner-section-article {
        width: 100%;
    }


    /* features you may enjoy section styles */
    .valuable-features-container {
        flex-direction: column;
    }
    .valuable-features-img {
        margin-top: -30px;
    }
    .valuable-features-btn {
        position: relative;
        left: 0;
        bottom: 0;
    }


    /* some facts section styles */
    .some-facts-heading {
        width: 70%;
    }
    .some-facts-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


    /* our sponsors logo container styles  */
    .our-sponsors-logo-container img {
        width: 100%;
    }
}

@media only screen and (max-width: 1352px) {
    /* quick list features styles */
    .quick-list-features-container {
        padding-left: 0;
        flex-direction: column-reverse;
    }
    .quick-list-img img {
        width: 100%;
    }
}
